# Basic Python Practice

## *Functions*

## User Defined Funcions

In [13]:
def introduction():
    return('Hello Ramy, this is a cool function')

In [14]:
# call the fuction
introduction()

'Hello Ramy, this is a cool function'

In [15]:
def introduce(firstname): 
    """
    name of the fuction is introduction, 
    then we are passing some arguements or parameters
    whatever you want to process will be in body
    """
    return('My name is ' + firstname) # body

In [16]:
# call the fuction
introduce('Ramy')

'My name is Ramy'

In [17]:
def introduce_users(firstname, username):
    return ('My name is {} and my user name is {}'.format(firstname, username))

In [18]:
introduce_users('Ramy', 'saleem.ramy@gmail.com')

'My name is Ramy and my user name is saleem.ramy@gmail.com'

In [21]:
# Also we can run the fuctions with optional arrguments
def introduce_users(firstname, username = 'not avaliable!'):
    return ('My name is {} and my user name is {}'.format(firstname, username))

In [22]:
introduce_users('Ramy')

'My name is Ramy and my user name is not avaliable'

In [23]:
# Also we can run the fuctions with optional arrguments
def introduce_users(firstname, username = ''):
    return ('My name is {} and my user name is {}'.format(firstname, username))

In [24]:
introduce_users('Ramy')

'My name is Ramy and my user name is '

In [35]:
def add_num(num1, num2):
    result = num1 + num2
    return (f'The sum of the two numbers is: {result}')

In [36]:
add_num(5, 3)

'The sum of the two numbers is: 8'

In [37]:
def add_num(num1, num2):
    result = sum([num1, num2])
    return (f'The sum of the two numbers is: {result}')

In [38]:
add_num(50, 30)

'The sum of the two numbers is: 80'

In [42]:
def add_num(num1, num2):
    results = sum([num1, num2])

In [43]:
print('The sum of two numbers is:', add_num(5, 10))

The sum of two numbers is: None

In [45]:
def add_gd_num(num1, num2):
    results = sum([num1, num2])
    return results

In [46]:
print('The sum of two numbers is:', add_gd_num(5, 10))

The sum of two numbers is: 15

In [122]:
# Make a function which takes two arguement num1 and num2 
# That will ak to enter num1 and num2 
# and it perform add, sub, mul, div

In [93]:
def calculator():
    num1  = float(input('Entre your first number: '))
    num2  = float(input('Entre your second number: '))
    charactor = input('Entre your function: ')
    
    if charactor == '+':
        results = (f'The sum of result is {num1 + num2}')
    elif charactor == '-':
        results = (f'The difference of result is {num1 - num2}')
    elif charactor == '*':
        results = (f'The product of result is {num1 * num2}')
    elif charactor == '/':
        results = (f'The division of result is {num1 / num2}')
    elif charactor == 'all':
        results = {'sum' : num1 + num2,
                 'diff' : num1 - num2,
                 'product' : num1 * num2,
                 'quotient' : num1 / num2
                    }
        print('The sum of result is: ', results['sum'])
        print('The difference of result is: ', results['diff']) 
        print('The product of result is: ', results['product'])
        print('The quotient of reuslt is: ', results['quotient'])
    else:
        results = 'Enter a valid charactor'
    return results

In [94]:
calculator()

Entre your first number: 5
Entre your second number: 5
Entre your function: all
The sum of result is:  10.0
The difference of result is:  0.0
The product of result is:  25.0
The quotient of reuslt is:  1.0

{'sum': 10.0, 'diff': 0.0, 'product': 25.0, 'quotient': 1.0}

In [114]:
def convert_string():
    firstname = input('Enter your first name: ')
    lastname = input('Enter your second name: ')
    return (firstname.capitalize() + ' ' + lastname.capitalize())

In [118]:
print('Student name is: ', convert_string())

Enter your first name: ramy
Enter your second name: saleem
Student name is:  Ramy Saleem

In [119]:
def print_even_num():
    n = int((input('Enter the number: ')))
    even_num_ls = []
    for num in range(1 , n + 1):
        if num % 2 == 0:
            even_num_ls.append(num)
    return ('Even number up to', n, 'are', even_num_ls)

In [121]:
print_even_num()

Enter the number: 20

('Even number up to', 20, 'are', [2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

## Lambda Functions

In [123]:
add = lambda x, y: x + y
add(6, 4)

10

In [127]:
square_root = lambda z, g: z ** g
square_root(4, 2)

16

In [129]:
square = lambda z: z ** 2
square(5)

25

In [136]:
concat = lambda x,y: x + y
concat(5, 5)

10

In [138]:
concat('Good ', 'Morning')

'Good Morning'

In [140]:
even_or_odd = lambda x: 'even' if x%2 ==0 else 'odd'
even_or_odd(8)

'even'

In [141]:
even_or_odd = lambda x: 'even' if x%2 == 0 else 'odd'

In [144]:
even_or_odd(53251487965481722)

'even'

In [147]:
max_num = lambda x,y: x if x > y else y
max_num(3.235487946512, 3.251487)

3.251487

In [148]:
f = lambda: input('Enter number: ')

In [150]:
f()

Enter number: 6

'6'

In [161]:
f = lambda x: x * x
f(float(input('Enter number: ')))

Enter number: 55

3025.0

In [163]:
square_func = lambda x: x**2

In [166]:
ls = [2, 5, 14]
for i in ls:
    print(square_func(i))

4
25
196

In [169]:
# let us make a lambda function to add three numbers

add_two_num = lambda x,y,z: x + y + z
add_two_num(53, 96, 21)

170

In [171]:
num1 = int(input('Entre 1st number: '))
num2 = int(input('Enter 2nd number: '))
num3 = int(input('Enter 3rd number: '))
print(add_two_num(num1, num2, num3))

Entre 1st number: 5
Enter 2nd number: 5
Enter 3rd number: 5
15

In [173]:
# compute squre of every item in the list
num_ls = [1, 2, 3, 4, 5]
my_list_cal = lambda x: [i **2 for i in  x]
print(my_list_cal(num_ls))

[1, 4, 9, 16, 25]

In [174]:
multiply_ls_nums = lambda x: [i *2 for i in x]
multiply_ls_nums([24, 65, 87,96])

[48, 130, 174, 192]

In [175]:
# Lambda used with map(), filter(), reduce(), sorted()

In [197]:
products = [
            {'name': 'Phone', 'price' : 1000},
            {'name': 'Printer', 'price' : 200},
            {'name': 'Headphone', 'price' : 100},
            {'name': 'Laptop', 'price' : 5000}
            ]

In [198]:
products

[{'name': 'Phone', 'price': 1000},
 {'name': 'Printer', 'price': 200},
 {'name': 'Headphone', 'price': 100},
 {'name': 'Laptop', 'price': 5000}]

In [200]:
sorted_products = sorted(products, key = lambda x: x['price'], 
                         reverse=True)

In [201]:
for products in sorted_products:
    print(products)

{'name': 'Laptop', 'price': 5000}
{'name': 'Phone', 'price': 1000}
{'name': 'Printer', 'price': 200}
{'name': 'Headphone', 'price': 100}

In [202]:
ls = [54, 8, 7, 635, 64, 21, 36]

In [203]:
sorted(ls, reverse=True)

[635, 64, 54, 36, 21, 8, 7]

## Recursion

In [205]:
def rec_sum(n):
    if n == 1:
        return 1
    else:
        return n + rec_sum(n -1)
print(rec_sum(5)) # 5+4+3+2+1

15

In [37]:
def rec_sum(n):
    if n ==1:
        return 1
    else:
        return n + rec_sum(n-1)

In [42]:
rec_sum(100)

5050

In [60]:
def rec_sum(n):
    result = 0
    while n > 0:
        result += n
        n -= 1
    return result
print(rec_sum(5))  # 5 + 4 + 3 + 2 + 1 = 15

15

In [61]:
rec_sum(100)

5050

In [74]:
# 0, 1, 1, 2, 3, 5, 8, 13, 21, 34....

def fibonnaci(n):
    if n <= 1:
        return n
    else:
        return fibonnaci(n-1) + fibonnaci(n-2)
print(fibonnaci(3))

2

In [75]:
def fibonnaci(n):
    if n <= 1:
        return n
    else:
        return fibonnaci(n-1) + fibonnaci(n-2)

In [76]:
fibonnaci(8)

21

In [77]:
def print_finbonnaci(n): # n = how many items you need in your series
    a, b = 0, 1 # intial value of a and b are set to 0 and 1
    for i in range(n):
        print(a)
        a, b = b, a + b # update the values of a and b

In [41]:
print_finbonnaci(8)

0
1
1
2
3
5
8
13

In [81]:
def print_fibbonnaci(n):
    a,b = 0, 1
    for i in range(n):
        print(a)
        a, b = b, a+b

In [82]:
print_fibbonnaci(8)

0
1
1
2
3
5
8
13

In [5]:
##################################

In [1]:
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        sequence = fibonacci(n-1)
        sequence.append(sequence[-1] + sequence[-2])
        return sequence

In [2]:
# Test the function
n = 8
fib_sequence = fibonacci(n)
print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13]

In [17]:
def print_finbonnaci(n):
    a, b = 0, 1 
    for i in range(n):
        print(a)
        a, b = b, a + b

In [18]:
print_finbonnaci(8)

0
1
1
2
3
5
8
13

In [15]:
def fabi(n):
    ls = []
    a, b = 0, 1
    for i in range(n):
        ls.append(a)
        a,b = b,a+b
    return ls

In [16]:
fabi(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [1]:
# 0, 1, 1, 2, 3, 5, 8, 13, 21, 34....

def fibonnaci(n):
    if n <= 1:
        return n
    else:
        return fibonnaci(n-1) + fibonnaci(n-2)
print(fibonnaci(3))

2

In [14]:
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        sequence = fibonacci(n-1)
        sequence.append(sequence[-1] + sequence[-2])
        return sequence

In [15]:
fibonacci(8)

[0, 1, 1, 2, 3, 5, 8, 13]

In [16]:
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fib_sequence = [0, 1]
        while len(fib_sequence) < n:
            next_number = fib_sequence[-1] + fib_sequence[-2]
            fib_sequence.append(next_number)
        return fib_sequence

# Example usage:
n = 10
fib_sequence = fibonacci(n)
print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [30]:
n =8
fib_sequence = [0, 1]
while len(fib_sequence) < n:
    next_number = fib_sequence[-1] + fib_sequence[-2]
    fib_sequence.append(next_number)

In [31]:
fib_sequence

[0, 1, 1, 2, 3, 5, 8, 13]

**Thank you!**

**Ramy Abdallah**