# Agenda for Class-1

## 1. Python keywords and Identifiers

In [2]:
# what are packages?
import keyword
# package.module
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
len(keyword.kwlist)

36

In [14]:
# Keywords
True
False
return
raise
None
break
pass
if
as
in
or
and
not
while
with
else
elif
try
import
def
del

SyntaxError: invalid syntax (463361752.py, line 9)

Python is case sensitive language and small letter are treated differently

In [6]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
# no way
# None = 10

In [7]:
none = 10

In [9]:
a = 10
print(10)

A = 'ten'
print(A)

10
ten

In [12]:
marks1 = 80
Marks1 = 90
tot = marks1 + Marks1

print(tot)

170

Different between library and packages in Python. Library is the whole madule and the package is the one module of the library.

In [3]:
import math
result = math.sqrt(144)
print(result)

12.0

In [4]:
from math import sqrt
result = sqrt(81)
print(result)

9.0

Python identifiers is how we name our variables in Python. For example we cannot start a variable with digitise and rather we start with normal letters iether capital or small.

In [20]:
# no name can start with digities 
# 123age = 21
age = 21
print(age)

Age = 21
print(Age)

AGE = 21
print(AGE)

_age123 = 21
print(_age123)

age123 = 21
print(age123)

21
21
21
21
21

## 2. Python Comments

In [54]:
# Single line comment
# we can use # to comment out any line

In [55]:
# Multiple lines comments

age = 21
"""
we can use the trible contation or cots marks 
for commenting out lines of instrictions

"""
print(age)

21

In [56]:
# Multi line comments
def num_multiply(a, b):
    
    """
    we can use the trible contation or cots marks 
    for commenting out lines of instrictions

    """
    return a * b

We can use the `.__doc__attribute` to read any comments in Python functions

In [57]:
def add_number(a,b):
    '''
    This function is adding two variables
    variables names are a and b
    we need to calculate tje sum in variable c
    
    '''
    return a + b

In [58]:
add_number(6,7)

13

In [59]:
print(add_number.__doc__)

    This function is adding two variables
    variables names are a and b
    we need to calculate tje sum in variable c

In [60]:
def add_names(b, g):

    '''
    b (int) : The first variable 
    g (int) :The second variable
    
    Return:
    int: which is the sum of b and g
    '''
    
#     hi this is me
#     how I can help
    
    
    return b + g

In [61]:
add_names(8, 9)

17

In [62]:
add_names.__doc__

'\n    b (int) : The first variable \n    g (int) :The second variable\n    \n    Return:\n    int: which is the sum of b and g\n    '

In [63]:
print(add_names.__doc__)

    b (int) : The first variable
    g (int) :The second variable

    Return:
    int: which is the sum of b and g

In [67]:
'''
Hi 
ramy
saleem


'''

'\nHi \nramy\nsaleem\n\n\n'

In [68]:

'''
Hi 
ramy
saleem

'''
print('My name')

My name

## 3. Python Indentations

Indentation refers to the spaces at the beginning of a code line. Normally 4 spaces.

In [64]:
x = 5
if x > 2:
    print(x)

5

In [65]:
x = -3
if x > 2:
    print(x)
else:
    print('x is not greater than 2')

x is not greater than 2

In [66]:
if True:
    print('This is True!')
for i in range(3):
    print(i)
while False:
    print("This won't print")
def hello(hi):
    print('Hello, World!')

This is True!
0
1
2

In [69]:
x = 5
if x > 0 :
    print('x is a positive number')
if x < 0 :
    print('x is a nagetive number')

x is a positive number

In [70]:
x = -5
if x > 0 :
    print('x is a positive number')
if x < 0 :
    print('x is a nagetive number')

x is a nagetive number

In [43]:
if x > 0:
    print('This is Positive Numebr')
else:
    print('This is Negative Numebr')

This is Positive Numebr

Rather than writting everything in one line we can use `\` , `[]`, `()`, `{}` to split the lines in two parts.

In [34]:
x = 1+2+3+4+5+6+7+8+9+1+0+11+12+13

In [38]:
x = (1+2+3+4+5+6+7+8+ 
    9+1+0+11+12+13)

In [39]:
x = [1+2+3+4+5+6+7+8+ 
    9+1+0+11+12+13]

In [44]:
x = {1+2+3+4+5+6+7+8+ 
    9+1+0+11+12+13}

In [42]:
x = 1+2+3+4+5+6+7+8+ \
    9+1+0+11+12+13

## 4. Python Types

Python is a dynamiclly type language so we do not have to declre every variable.

In [72]:
# integer, float, string, ...
a = 10 # it is an integer
print(a)

b = 12.45 # it is float
print(b)

nm = 'Alice'
print(nm)

c = '12' # c is treated as string (char)
print(c)


print(type(c))

10
12.45
Alice
12
<class 'str'>

In [73]:
# list is mutable that can be change at any latter time, also
# list is heterogeious that can have many types inside it

fruits = ['banana', 'grapes', 'apples']
print(fruits)

fruits = ['banana', 'apples', 'cherries']
print(fruits)

['banana', 'grapes', 'apples']
['banana', 'apples', 'cherries']

In [74]:
a = [1, 2, 3, [1, 2, 3], 'Tom', 4.5, 5.5]
print(a)

[1, 2, 3, [1, 2, 3], 'Tom', 4.5, 5.5]

In [75]:
#Table are immutable but also hetrogenioues in natuer
fruits = ('banana', 'grapes', 'apples')
print(fruits)

a = (1, 2, 3, 'Tom')
print(a)

('banana', 'grapes', 'apples')
(1, 2, 3, 'Tom')

In [77]:
myTuple = (1, 2, 3)
myTuple = (1, 2, 3, [4])
print(myTuple)

(1, 2, 3, [4])

In [78]:
type(myTuple[-1])

list

In [61]:
name = input('Entre your name')
print(f"How are you {name}!")

Entre your nameTom Alice
How are you Tom Alice!

`()` are parentheses

`[]` are square brackets or box brackets

`{}` are curly brackets or brace brackets

Python has both mutable and immutable collection data types. Strings and tuples are immutable, while lists, dictionaries, and sets are mutable.

In [86]:
# tuple

stock = ('banana', 'grapes', 'apples', 'Almonds', 'ice cream')
print(stock)
# stock.append('mango')

stock_ls = ['banana', 'grapes', 'apples', 'Almonds', 'ice cream']
print(stock_ls)
stock_ls.append('mango')
print(stock_ls)

('banana', 'grapes', 'apples', 'Almonds', 'ice cream')
['banana', 'grapes', 'apples', 'Almonds', 'ice cream']
['banana', 'grapes', 'apples', 'Almonds', 'ice cream', 'mango']

In Python, tuples are immutables. Meaning, you cannot change items of a tuple once it is assigned. There are only two tuple methods count() and index() that a tuple object can call.

In [96]:
stock.count('banana')

1

In [98]:
stock.index('apples')

2

In [102]:
# Dictionaries
#dictionaries are mutable similar to list

my_dict = {'Name' : 'Tome',
           'Subject' : 'English',
           'Marks' : 90
          }
print(my_dict)

{'Name': 'Tome', 'Subject': 'English', 'Marks': 90}

In [105]:
my_dict.keys()

dict_keys(['Name', 'Subject', 'Marks'])

In [108]:
my_dict.values()

dict_values(['Tome', 'English', 90])

In [109]:
# Sets are an inorder collection of elements, they are mutable
x = set(stock)

In [110]:
type(x)

set

In [112]:
fruits = {'banana', 'grapes', 'apples', 'mango'}
print(fruits)

{'grapes', 'banana', 'apples', 'mango'}

In [113]:
type(fruits)

set

In [123]:
# sets
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5, 6, 7, 8, 'Bananas'}

In [126]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 'Bananas'}