# Basic Python Practice

## Standard Input and Output

In [29]:
# Hard coded 
a = 10
b = 20
c = a + b
print(c)

30

In [37]:
# take input from the user
name = input('Enter student name:')
rn = input('Enter student Roll No:')

print(f'Welcome {name}!, Your Roll Number is: {rn}')

Enter student name:Ramy
Enter student Roll No:12345
Welcome Ramy!, Your Roll Number is: 12345

## Operators

In [211]:
a = 10
b =  3

# Arithmatic operators +, -, /, //, **, %......

print(a + b)

13

In [212]:
print(a - b)

7

In [213]:
print(a * b)

30

In [214]:
# celling function as a float value
print(a / b)

3.3333333333333335

In [215]:
# floor function for lowest possible value as int
print(a // b) # Floor Division

3

In [9]:
a = 25
b = 5

print(a % b) # 26/5 = 5 times but you remaining 1 still there.

0

In [10]:
a = 26
b = 5

print(a % b) # 26/5 = 5 times but you remaining 1 still there.

1

In [11]:
a = 27
b = 5

print(a % b) # 26/5 = 5 times but you remaining 2 still there.

2

In [14]:
# Exponentioal operator

a = 2
b = 3
print(a ** b) # 2**3 = 8, 2^2

8

In [15]:
a = 2
b = 4
print(a ** b)

16

In [16]:
a = 10
b = 20

print(a == b)

False

In [18]:
print(a != b) # Not Equal condition. If it is not equal: output is True

True

In [19]:
a = 10
b = 15
print(a > b)

False

In [20]:
print(a < b)

True

In [22]:
print(a == b)

False

In [23]:
print(a != b)

True

In [30]:
a = 31
b = 30

print(a <= b) # <= or >=

False

In [33]:
# We have to apply for a job: two conditions are there: (1) more than 60% marks, (2) IT background

# Tom he has 75% and he is from Arts
# Alice she has 61% and shhe is from Computer science

#----------------------And-----------------------------

# Alice will be qualified for the job

#---------------------Or----------------------------
# Tom and Alice will be qualified

#----------------------Not------------------------------
# Opposite to what you have

In [50]:
# Logical operators

# And: a = 10 and b = 10, a and b = True
# Or: a = 10 or b = 10, a or b = True

a = True
b = False

print(a and b)
print( a or b)

False
True

In [51]:
print(not a)
print(not b)

False
True

In [67]:
# binary numbers: 0,1    10 = 1010

# AND operator: &
a = 10 # 1010
b = 4 # 0100
result = a & b
print(result)

# & comapres each bit of the 1st operand with the 2nd.
# if both bits are 1. The corresponding bit is set to 1 Otherwise 0

# Or
# | compares each bit of the 1st operand with the 2nd.
#If either bit is 1, the corresponding result bit is set to 0

result = a | b
print(result)

# 1 0 1 0 
# 0 1 0 0 
#--------
# 1 1 1 0

# 14 = 1110

0
14

In [64]:
# use bin function to convert any number to binary
bin(a)

'0b1010'

In [65]:
bin(b)

'0b100'

In [66]:
# 1010
# 0100
#------
# 1110

In [68]:
print(a | b)

14

In [69]:
a = 1
b = 2

In [70]:
bin(1)

'0b1'

In [71]:
bin(2)

'0b10'

In [72]:
# 01
# 10 
#----
# 11

In [73]:
print(a|b)

3

In [74]:
bin(3)

'0b11'

In [76]:
# 01
# 10
#----
# 00

In [75]:
print(a&b)

0

In [1]:
# Right Shhift
a = 10 # 1010
# result = a >> 2 # (2 = 0010)
# print(result)

# 1010
# 0010

# left shift
result = a >> 2 #(2 = 0010)
print(result)

2

In [2]:
# 1010
# 101000

In [4]:
# Right shift
result = a << 2 #(2 = 0010)
print(result)

40

In [5]:
bin(40)

'0b101000'

In [6]:
bin(2)

'0b10'

In [9]:
# Right Shift
a = 10 # 1010
result = a >>1

print(result)

# 10 = 1 0 1 0
# 5 = 0 1 0 1

5

In [12]:
bin(5)

'0b101'

In [24]:
# Left Shift

a = 5
print(a<<2)

20

In [25]:
bin(5)

'0b101'

In [27]:
bin(20)

'0b10100'

In [28]:
# Left shift
a = 5
result = a << 2
print(result)

# 5 = 0 1 0 1
# 20 = 1 0 1 0 0

20

In [41]:
# Assignment Operators

a = 5
# a = a + 3

a += 3 # a = a + 3
print(a)

8

In [42]:
a = 5
a -= 3

print(a)

2

In [43]:
a = 2
a *= 2
print(a)

4

In [44]:
a = 15
a /= 3
print(a)

5.0

In [97]:
a = 22
a + 1
print(a)

22

In [99]:
'spam' + 'spamspam'

'spamspamspam'

In [100]:
'spam' * 3

'spamspamspam'

In [173]:
import copy
ls1 = [[1], 2, 3]
ls2 = ['a', 'b', 'c']

In [174]:
ls2 = copy.copy(ls1)

In [175]:
ls1

[[1], 2, 3]

In [176]:
ls2

[[1], 2, 3]

In [177]:
ls1[0][0] = ['d']

In [178]:
ls2

[[['d']], 2, 3]

In [179]:
ls1 = [[1], 2, 3]
ls2 = ['a', 'b', 'c']

In [180]:
ls2 = copy.deepcopy(ls1)

In [181]:
ls2

[[1], 2, 3]

In [182]:
ls1[0] = ['d']

In [183]:
ls1

[['d'], 2, 3]

In [184]:
ls2

[[1], 2, 3]

In [130]:
import copy

original_list = [1, 2, [3, 4]]
copied_list = copy.copy(original_list)

# Modifying a shared element
original_list[0] = 5
print(original_list)  # Output: [5, 2, [3, 4]]
print(copied_list)    # Output: [1, 2, [3, 4]] (shared element not modified)

[5, 2, [3, 4]]
[1, 2, [3, 4]]

In [131]:
# Modifying a nested element
original_list[2][0] = 6
print(original_list)  # Output: [5, 2, [6, 4]]
print(copied_list)    # Output: [1, 2, [6, 4]] (nested element modified)

[5, 2, [6, 4]]
[1, 2, [6, 4]]

In [133]:
import copy

original_list = [1, 2, [3, 4]]
deep_copied_list = copy.deepcopy(original_list)

# Modifying a shared element
original_list[0] = 5
print(original_list)       # Output: [5, 2, [3, 4]]
print(deep_copied_list)    # Output: [1, 2, [3, 4]] (shared element not modified)

[5, 2, [3, 4]]
[1, 2, [3, 4]]

In [134]:

# Modifying a nested element
original_list[2][0] = 6
print(original_list)       # Output: [5, 2, [6, 4]]
print(deep_copied_list)    # Output: [1, 2, [3, 4]] (nested element not modified)

[5, 2, [6, 4]]
[1, 2, [3, 4]]

## If Statement

In [55]:
age = 20
if age > 18:
    print('You can drive!')

You can drive!

In [59]:
age = 17
if age >= 18:
    print('Congrats, You can drive!')
else:
    print('Sorry!! Due to age limitations you cannot drive')

Sorry!! Due to age limitations you cannot drive

In [96]:
score = 49

'''
So the difference is that the code always checks 
to see if an 'if' statement is true, checks 'elif' statements 
only if each 'if' and 'elif' statement above it is false, 
and 'else' runs only 
when the conditions for all attached 'if' and 'elif' 
statements are false.
'''

if score >= 90:
    print("Excellent performance, your grade is A+")
elif score >= 80:
    print("Good performance, your grade is A")
elif score >= 70:
    print("Pass performance, your grade is B")
elif score >= 50:
    print("Performance not good, your grade is C")
else:
    print("Fail performance, your grade is D")

Fail performance, your grade is D

In [209]:
score = 80

'''
So the difference is that the code always checks 
to see if an 'if' statement is true, checks 'elif' statements 
only if each 'if' and 'elif' statement above it is false, 
and 'else' runs only 
when the conditions for all attached 'if' and 'elif' 
statements are false.
'''

if score >= 90:
    print("Excellent performance, your grade is A+")
elif score >= 80:
    print("Good performance, your grade is A")
elif score >= 70:
    print("Pass performance, your grade is B")
elif score >= 50:
    print("Performance not good, your grade is C")
else:
    print("Fail performance, your grade is D")

Good performance, your grade is A

In [203]:
# Find largest number from 3 given number

num1 = 50
num2 = 30
num3 = 20

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print('Largets number is:', largest)

Largets number is: 50

But here the input function is string by deflt so we need to change it to float or integer.

In [218]:
# Find largest number from 3 given number

num1 = float(input("Please enter 1st number: "))
num2 = float(input("Please enter 2nd number: "))
num3 = float(input("Please enter 3rd number: "))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print('Largets number is:', largest)

Please enter 1st number: 10
Please enter 2nd number: 20
Please enter 3rd number: 30
Largets number is: 30.0

In [232]:
# Let us make a simple calculator which takes the choice of operation from user 
# Also user enter two number which needed to be computed.


choice = input("Enter you choice (add/sub/div/mul): ")

num1 = float(input("Please enter 1st number: "))
num2 = float(input("Please enter 2nd number: "))

if choice == "add" or choice == '+':
    print(num1, "+", num2, "=", num1 + num2)
elif choice == "sub" or choice == '-':
    print(num1, "-", num2, '=', num1 - num2)
elif choice == "div" or choice == '/':
    print(num1, "/", num2, '=', num1 / num2)
elif choice == "mul" or choice == '*':
    print(num1, "*", num2, '=', num1 * num2)
else:
    print("worng choice")

Enter you choice (add/sub/div/mul): /
Please enter 1st number: 5
Please enter 2nd number: 5
5.0 / 5.0 = 1.0

In [233]:
# We have 3 designations: Excutive, Manager, Senior Manager
# Take input from the user "Designation" and print salary range of that designation

In [242]:
designation = input('Enter the designation (Executive/Manager/Senior Manager)')

if designation.lower() == 'executive':
    print('The salary range of the Executive is 30000 - 40000')
elif designation.lower() == 'manager':
    print('The salary range of the Manager is 60000 - 90000')
elif designation.lower() == 'senior manager':
    print('The salary range of the Senior Manager is 120000 - 160000')
else:
    print('Wrong choice')

Enter the designation (Executive/Manager/Senior Manager)senior manager
The salary range of the Senior Manager is 120000 - 160000

## For Loop

In [243]:
# range(): generating sequence of number 1, 2, 3, 4, 5
for i in range(5): # i = 0, 1 .... i
    print(i)

0
1
2
3
4

In [244]:
# range(): generating sequence of number 1, 2, 3, 4, 5
for i in range(0, 20, 2): # i = 0, 1 .... i
    print(i)

0
2
4
6
8
10
12
14
16
18

In [245]:
# let have for loop on list
fruit_ls = ['apple', 'cherry', 'banana', 'grapes']

for fruit in fruit_ls:
    print(fruit)

apple
cherry
banana
grapes

In [256]:
country = ['India', 'UK', 'USA', 'Germany']

for ct in country:
    print(ct)

India
UK
USA
Germany

In [257]:
for i in range(len(country)):
    print(country[i])

India
UK
USA
Germany

In [292]:
rows = 5
for i in range(rows):
    for j in range(i+1):
        print('*', end= " ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [330]:
rows = 5

for i in range(5):
    for j in range(i+2):
        print('|', end=' ')
    print('')

| |
| | |
| | | |
| | | | |
| | | | | |

## While Loop

In [255]:
count = 1
while count <= 20:
    print(count)
    count += 5

1
6
11
16

In [287]:
count = 1
while count <=5:
    print(count)
    count += 1 # count = count + 1

1
2
3
4
5

In [315]:
rows = 5  # Number of rows in the structure

i = 1  # Counter variable for rows
while i <= rows:
    j = 1  # Counter variable for asterisks in each row
    while j <= (2*i - 1):
        print('*', end='')
        j += 1
    print('')
    i += 1

*
***
*****
*******
*********

In [329]:
rows = 5

i=1
while i <= rows:
    j = 1
    while j <= (2*i-1):
        print('*', end='')
        j += 1
    print('')
    i += 1

*
***
*****
*******
*********

In [340]:
print('Hi', end=' ')
print('Ramy', end= '')
print('!!')

Hi Ramy!!

In [346]:
rows = 5

i = rows
while i >= 0:
    j = 1
    while j <= (2*i-1):
        print('|', end='')
        j += 1 
    print('')
    i -= 1

|||||||||
|||||||
|||||
|||
|

In [347]:
rows = 10

count = 1
while count <= rows:
    i = 1
    while i <= count:
        print('*', end='')
        i += 1
    print('')
    count += 1

*
**
***
****
*****
******
*******
********
*********
**********

In [348]:
rows = 10

count = rows
while count >=0:
    i = 1
    while i < count:
        print('*', end=' ')
        i += 1
    print('')
    count -= 1

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [293]:
text = ""

while text != "quit":
    text = input('Enter a word (or quit to exit):')
    print("You entered:", text)

Enter a word (or quit to exit):Hi, I am Ramy
You entered: Hi, I am Ramy
Enter a word (or quit to exit):I am Happy
You entered: I am Happy
Enter a word (or quit to exit):Tomorrow I need to work
You entered: Tomorrow I need to work
Enter a word (or quit to exit):quit
You entered: quit

In [311]:
# For we used generally we know when to stop
# While is generally use when stop codition wil be satisfied 

name_list = ['Alice', 'Tom', 'Marry', 'James']
salary = [30000, 40000, 45000, 40000]

for name_nm in range(len(name_list)):
    if name_list[name_nm] == 'James':
        bouns = salary[name_nm]*0.05
        salary[name_nm] += bouns
        print('Updated Salary is: ')
        print(salary)

Updated Salary is:
[30000, 40000, 45000, 42000.0]

**Many thanks!!**

**Ramy Abdallah**