## Basic Python Practice

Shared Drive for files and data:
    https://drive.google.com/drive/folders/1LaAQWaBZ1K4Vjeedy_vfvoPUXA4POI-z

### Indexing Strings

In [1]:
name = 'John Doe'
print(name)

John Doe

In [2]:
# index starts from 0 to n-1 .....0-7

# 0 = J
# 1 = o
# 2 = h
# 3 = n .... and so on

print(name[2])

h

In [3]:
for i in 'Hello world!':
    print(i)

H
e
l
l
o

w
o
r
l
d
!

In [4]:
pan = 'AXATZ7837650'
print(len(pan))

12

### Search string values using is

In [9]:
tw = "World economy groqwth is not as expected"

if 'is' in tw:
    print('Data is there in tw')
else:
    print('Data is not there in tw string')

Data is there in tw

In [10]:
tw = "World economy groqwth is not as expected"

if 'of' in tw:
    print('Data is there in tw')
else:
    print('Data is not there in tw string')

Data is not there in tw string

### Slicing

In [11]:
# string name[start,end]
# start is inclusive. It include the particular index value
# end is exclusive. It does not include particular index value

In [12]:
name ='John Doe'

print(name[2])

h

In [13]:
print(name[0:4])

John

In [14]:
print(name[:4])

John

In [15]:
print(name[5:])

Doe

In [16]:
print(name[:-3])

John

In [17]:
print(name[:-4])

John

In [20]:
print(name[-7:-4])

ohn

### upper and lower case

In [22]:
print(name.upper())

JOHN DOE

In [24]:
print(name.lower())

john doe

### replace function

In [25]:
print(name.replace('j', 'J'))

John Doe

### split fuction

In [26]:
print(name.split(" "))

['John', 'Doe']

In [29]:
print(name.split("o"))

['J', 'hn D', 'e']

### concatinate fuction

In [32]:
n1 = 'John'
n2 = 'Doe'

nam = n1 + ' ' + n2 
print(nam)

John Doe

### Change values in list

In [42]:
list1 = ['Apple', 'Banana', 'Cherries']
print(list1)
print('---------------------------------')
list1[1:3]
print(list1)

['Apple', 'Banana', 'Cherries']
---------------------------------
['Apple', 'Banana', 'Cherries']

In [43]:
list1[1] = 'Mangoes'
print(list1)

['Apple', 'Mangoes', 'Cherries']

In [44]:
print(list1[2:3])

['Cherries']

In [45]:
print(list1)

['Apple', 'Mangoes', 'Cherries']

In [46]:
list1.insert(1, 'Joapha')
print(list1)

['Apple', 'Joapha', 'Mangoes', 'Cherries']

### extend

In [51]:
list2 = ['Mangoes', 'Cherries']
list1.extend(list2)
print(list1)

['Apple', 'Joapha', 'Cherries', 'Mangoes', 'Cherries', 'Mangoes', 'Cherries']

### remove

In [52]:
list1.remove('Mangoes')
print(list1)

['Apple', 'Joapha', 'Cherries', 'Cherries', 'Mangoes', 'Cherries']

In [54]:
list1[2] = 'Banana'
print(list1)

['Apple', 'Joapha', 'Banana', 'Cherries', 'Mangoes', 'Cherries']

### pop

In [55]:
list1.pop(-1)
print(list1)

['Apple', 'Joapha', 'Banana', 'Cherries', 'Mangoes']

### del

In [56]:
del list2[1]
print(list2)

['Mangoes']

In [57]:
list1 = ['Apple', 'Joapha', 'Banana', 'Cherries', 'Mangoes', 'Cherries']
print(list1)
print('-----------------------------------------------------------------')
del list1[1]
print(list1)

['Apple', 'Joapha', 'Banana', 'Cherries', 'Mangoes', 'Cherries']
-----------------------------------------------------------------
['Apple', 'Banana', 'Cherries', 'Mangoes', 'Cherries']

In [58]:
for i in range(len(list1)):
    print(list1[i])

Apple
Banana
Cherries
Mangoes
Cherries

### sort

In [74]:
list1.sort()
print(list1)

['Apple', 'Banana', 'Cherries', 'Mangoes']

In [79]:
a = [1, 2, 3, 4, 5]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [78]:
a = [1, 2, 3, 4, 5]
a.sort(reverse = True)
print(a)

[5, 4, 3, 2, 1]

### List conperhention

In [62]:
list1 = ['Apple', 'Banana', 'Mangoes', 'Cherries']
newlist = []

for i in list1:
    if 'A' in i:
        newlist.append(i)
    elif 'B' in i:
        newlist.append(i)
print(newlist)

['Apple', 'Banana']

In [72]:
newlist = [i for i in list1 if 'A' in i]
print(newlist)

['Apple']

### copy

In [84]:
list111 = list1.copy()
print(list111)

['Apple', 'Banana', 'Cherries', 'Mangoes']

## Tuple

In [87]:
tup1 = ('Apple', 'Banana', 'Mangoes')
print(tup1)

('Apple', 'Banana', 'Mangoes')

In [88]:
for i in tup1:
    print(i)

Apple
Banana
Mangoes

In [89]:
print(tup1[1])

Banana

In [91]:
tup2 = (1, 2, 3, 4, 5)
tup3 = tup1 + tup2
print(tup3)

('Apple', 'Banana', 'Mangoes', 1, 2, 3, 4, 5)

## Sets

In [1]:
set1 = {'Uk', 'USA', 'Germany'}
print(set1)

{'Germany', 'USA', 'Uk'}

In [3]:
# We can not have a duplicates in sets
set1 = {'UK', 'USA', 'Germany', 'USA', 'Germany'}
print(set1)

{'Germany', 'UK', 'USA'}

In [4]:
print(len(set1))

3

In [6]:
type(set1)

set

In [8]:
# set() constructor
set1 = set(('UK', 'USA', 'Germany'))
print(set1)

{'Germany', 'UK', 'USA'}

### union ()

In [13]:
# create a new set
set1 = {'UK', 'USA', 'Germnay'}
set2 = {10, 20, 30, 40, 50}
# union()
set3 = set1.union(set2)
print(set3)

{'Germnay', 'USA', 40, 10, 50, 20, 'UK', 30}

### update ()

In [14]:
# we are updating the already created set
set1 = {'UK', 'USA', 'Germnay'}
set2 = {10, 20, 30, 40, 50}
# update()
set1.update(set2)
print(set1)

{'Germnay', 'USA', 40, 10, 50, 20, 'UK', 30}

### intersection ()

In [15]:
# It just to keep only the duplicate values
set1 = {'UK', 'USA', 'Germany'}
set2 = {'KSA', 'Italy', 'Germany', 'India'}

set3 = set1.intersection(set2)
print(set3)

{'Germany'}

### intersection_update()

In [19]:
# It just update the already created set by the duplicate values
set1 = {'UK', 'USA', 'Germany'}
set2 = {'KSA', 'Italy', 'Germany', 'India'}

set1.intersection_update(set2)
print(set1)

{'Germany'}

### symmetric_difference

In [26]:
# To just update the already created set by the difference values
# none duplicates values
team1 = {'Tom', 'Alice', 'John'}
team2 = {'Ally', 'Marry', 'Alice', 'Jerry'}

team3 = team1.symmetric_difference(team2)
# "Alice" can only be in one sport team
print(team3)

{'Ally', 'John', 'Marry', 'Tom', 'Jerry'}

### symmetric_difference_update

In [27]:
# To just update the already created set by the difference values
# none duplicates values
set1 = {'UK', 'USA', 'Germany'}
set2 = {'KSA', 'Italy', 'Germany', 'India'}

set1.symmetric_difference_update(set2)
print(set1)

{'India', 'USA', 'Italy', 'UK', 'KSA'}

In [28]:
# To just update the already created set by the difference values
# none duplicates values
team1 = {'Tom', 'Alice', 'John'}
team2 = {'Ally', 'Marry', 'Alice', 'Jerry'}

team1.symmetric_difference_update(team2)
# "Alice" can only be in one sport team
print(team1)

{'Ally', 'John', 'Marry', 'Tom', 'Jerry'}

In [29]:
team1 = {'Tom', 'Alice', 'John'}

for i in team1:
    print(i)

Tom
Alice
John

In [30]:
team1 = {'Tom', 'Alice', 'Jhon'}

i = 0
while i <10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [32]:
i = 0
while i <10:
    print('*' * i)
    i += 1

*
**
***
****
*****
******
*******
********
*********

In [43]:
i = 10
while i >0:
    print('*' * i)
    i -= 1

**********
*********
********
*******
******
*****
****
***
**
*

## Dictionaries

In [50]:
d1 = {
        'name': 'Alice',
        'Age' : 22,
        'City' : ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']
     }
print(d1)

{'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']}

In [51]:
d1.keys()

dict_keys(['name', 'Age', 'City'])

In [52]:
d1.values()

dict_values(['Alice', 22, ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']])

In [53]:
len(d1)

3

In [55]:
names_ls = [i for i in range(20)]
print(names_ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
cities = ['Khartoum', 'Dublin', 'Aberdeen', 'London', 'Delhi', 'Glasgow', 'Leeds']

In [64]:
cities_names_ls = [city for city in cities if 'A' in city]
print(cities_names_ls)

['Aberdeen']

In [67]:
type(d1.keys())

dict_keys

In [66]:
for k in d1.values():
    print(k)

Alice
22
['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']

In [76]:
values_ls = d1.values()

In [79]:
values_ls

dict_values(['Alice', 22, ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']])

In [83]:

k = 0
while k < len(list(d1.values())):
    print(list(d1.values())[k])
    k += 1

Alice
22
['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']

### dict()

In [102]:
dict1 = dict(Name = 'Alice',
        Age = 22,
        City = ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin'])
print(dict1)

{'Name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']}

In [103]:
d2 = dict(city = 'Kharotum', Age = 20, Name = 'Ramy')
print(d2)

{'city': 'Kharotum', 'Age': 20, 'Name': 'Ramy'}

### update ()

In [104]:
d1 = {
        'name': 'Alice',
        'Age' : 22,
        'City' : ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']
     }
print(d1)

{'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']}

In [105]:
d1.update({'Number' : 123456789})
print(d1)

{'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin'], 'Number': 123456789}

In [106]:
d1.update({'Number' : 987654321})
print(d1)

{'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin'], 'Number': 987654321}

### pop ()

In [107]:
d1.pop('Age')

22

In [108]:
d1

{'name': 'Alice',
 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin'],
 'Number': 987654321}

### del

In [109]:
del d1['name']

In [110]:
print(d1)

{'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin'], 'Number': 987654321}

### clear

In [112]:
d1.clear()
print(d1)

{}

In [113]:
d1 = {
        'name': 'Alice',
        'Age' : 22,
        'City' : ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']
     }
print(d1)

{'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']}

In [118]:
i = 0
while i < len(d1.values()):
    print(list(d1.values())[i])
    i += 1

Alice
22
['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']

In [119]:
d2 = d1.copy()
print(d2)

{'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']}

### Nested dictionaries

In [120]:
d = { 'd1' : {'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']},
      'd2'  : {'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']},
      'd3' : {'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']},
      'd4' : {'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']}
        
        }
print(d)

{'d1': {'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']}, 'd2': {'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']}, 'd3': {'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']}, 'd4': {'name': 'Alice', 'Age': 22, 'City': ['Milan', 'Delhi', 'Khartoum', 'Aberdeen', 'Dublin']}}

## User Define Functions

In [123]:
def my_function():
    return('This is my fuction')

In [124]:
my_function()

'This is my fuction'

In [125]:
def my_name_fuction(name):
    my_name = name + " is a good performing student"
    return my_name

In [126]:
my_name_fuction('Ramy Saleem')

'Ramy Saleem is a good performing student'

## Thank you!
## Ramy Abdallah